@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
.footer {
  padding: 5px 0 5px 0;
  background-color: #096691;
  color: #ffffff;
  max-width: 100%;
}
.footer li a {
  display: flex;
  align-items: center;
  font-weight: 800;
  flex-grow: 1;
}
.footer h2 {
  padding: 0.9rem;
  margin: 0;
  text-align: center;
  color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700;
}
.footer h4 {
  color: #ffffff;
  margin: 0.5rem;
}
.flex1 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* padding: 10px; */
}
.flex1 > button {
  margin: 10px;
}
.button1 {
  padding: 8px 8px;
  background: transparent;
  border-radius: 4px;
  font-weight: 400;
  font-size: 1rem;
  border: 1px solid #ffffff;
  cursor: pointer;
  color: #ffffff;
}
.button2 {
  padding: 8px 10px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  font-weight: 400;
  background: #018ac8;
  cursor: pointer;
  color: #ffffff;
}
.button1:hover,
.button2:hover {
  background-color: #f9fafb;
  color: #000;
  transition: 200ms ease-out;
}
.flex2 {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.flex2 div {
  margin-top: 1.7rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.flex2 h4 {
  font-size: 1.3rem;
  font-weight: 600;
}
.flex2 li {
  list-style-type: none;
  padding: 0.4rem;
  margin: 0;
  text-decoration: none;
}
.flex2 li a:hover {
  color: #f9fafb;
  text-decoration: underline;
}
.flex2 li a {
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.7);
  text-align: center;
  font-weight: 500;
  padding: 0;
  margin: 0;
  text-decoration: none;
}
.copysection {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 20px;
}
.copysection p {
  font-weight: 400;
  color: hsla(0, 0%, 100%, 0.7);
}
.social {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.social a {
  color: white;
  border-radius: 50%;
  border: 1px solid white;
  padding: 8px;
  display: block;
  width: 35px;
  height: 35px;
  margin: 4px;
}
.social a:hover {
  transform: scale(1.2);
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .footer {
    width: 120vh;
  }
}

@media screen and (max-width: 550px) {
  .footer {
    width: 128vh;
  }
}

@media screen and (max-width: 480px) {
  .footer {
    width: 125vh;
    padding: 0;
  }
  .footer h2 {
    padding: 1.5rem;
    margin: 0;
    text-align: center;
    color: #ffffff;
    font-size: 2.8rem;
    font-weight: 700;
  }
  .button1 {
    padding: 20px 18px;
    font-size: 1.9rem;
  }
  .button2 {
    font-size: 2rem;
    padding: 20px 18px;
    font-size: 1.9rem;
  }
  .flex1 > button {
    margin: 20px;
  }
  .flex1 {
    align-items: center;
    padding: 10px;
  }
  .flex2 {
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .flex2 h4 {
    font-size: 2.3rem;
  }
  .flex2 li a {
    font-size: 2rem;
    padding: 0.9rem;
  }
  .copysection {
    flex-direction: column;
  }
}
@media screen and (max-width: 415px) {
  .footer {
    width: 125.5vh;
  }
}

@media screen and (max-width: 380px) {
  .footer {
    width: 138vh;
  }
}

@media screen and (max-width: 360px) {
  .footer {
    width: 920px;
  }
}
